.student-rate div.flex:hover  i {
    animation: stars-animate .7s ease-in-out 1;
}
.student-rate div.flex > div:first-child i {
    animation-delay: 0;
}
.student-rate div.flex > div:nth-child(2) i {
    animation-delay: .2s;
}
.student-rate div.flex > div:nth-child(3) i {
    animation-delay: .4s;
}
.student-rate div.flex > div:nth-child(4) i {
    animation-delay: .5s;
}
.student-rate div.flex > div:last-child i {
    animation-delay: .7s;
}
@keyframes stars-animate {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}